button {
    border: 2px;
    border-color: rgb(70, 5, 92);
    color: #015d0d;
    background-color: rgb(255, 225, 0);
    border-radius: 15px;
    margin: 10px;
    font-size: large;
    font-weight: 700;
    padding: 50px;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
}

<h1 style= "color: #800020;"> Joulukalenteri</h1>

body {
    background-image: url("Mallikuva/christmas wallpaper.jpg");
    background-repeat: none;
    background-size: cover;
}